/* -------- Sección Bienvenidos -------*/
html{
 font-size: 15px;
}

.bienvenidos{
  background: url("../images/fondo-bienvenidos.jpg");
  background-size: cover;
  height: 100vh; /* 100% viewport height - altura pantalla del usuario */
  overflow: hidden;
}

.fixed-top{
  background: rgba(0, 0, 0, 0.60);
}

.navbar-light .navbar-brand{
  color: rgb(253, 253, 253);
  font-size: 1.3rem;
  text-transform: uppercase;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: #fff; 
}

.navbar-light .navbar-toggler { /* borde de navbar-toggler */
  border-color: transparent;
  font-size: 1.6rem;
}

.navbar-light .navbar-toggler-icon { /* icono toggler color blanco*/
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.bg-color01{
  background: #f05f40;
}

.nav-link{
  transition: all 0.5s ease;
}

.nav-link:hover { /* hover links navbar */
  color: #fff;
  background: #f05f40;
  transition: all 0.5s ease;
}

.texto-bienvenidos{
  color: #fff;
  margin-top: 8rem;
}

.btn-primary{
  background-color: #f05f40;
  border-color: #b93e24;
  transition: all 0.5s ease;
}

.btn-primary:hover {
  background-color: #f17f66;
  border-color: #f05f40;
}
/* -------- Fin Sección Bienvenidos -------*/

/* -------- Sección Quienes Somos -------*/
.quienes-somos{
  background: #f05f40;
  color: #fff;
}
/* -------- Fin Sección Quienes Somos -------*/

/* -------- Sección Nuestros Servicios -------*/
.servicios .fa {
  color: #F05F40;
  font-size: 6rem; 
}

.servicios h3 {
  font-weight: bold; 
}
/* -------- Fin Sección Nuestros Servicios -------*/

/* -------- Sección Últimos Proyectos -------*/
.ultimos-proyectos {
  background: #424141;
  color: #fff; 
}

.ultimos-proyectos a {
  display: block; /* mostrar en "Bloque" */
  overflow: hidden; /* esconder excedente de contenido */
  margin-bottom: 1.5rem; 
}

.ultimos-proyectos img {
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
  min-width: 100%; /* tamaño-mínimo: 100% de la imagen */
}

.ultimos-proyectos a:hover img {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5); 
}
/* -------- Fin Sección Últimos Proyectos -------*/

/* -------- Sección Footer -------- */
footer {
  color: #fff;
  background: #222222; 
}
/* -------- Fin Sección Footer -------- */

/* ------------- Media Queris ---------- */
@media (min-width: 768px){
  .bienvenidos {
    background: url("../images/fondo-bienvenido-grande.jpg");
    background-size: cover;
  }

  html {
    font-size: 18px; 
  }
}